#center {
    margin-left: -400px;
    width: 650px;
    box-shadow: none;
}

#report-header-right-answer, #report-header-user-answer {
    background: #fff;
    color: #000;
}

#download-button, #print-button {
    visibility: hidden;
}