.main-entrance {
    height: 970px;
    background: url('../img/labOne/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: 81.7%;
}

.container-entrance {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.text {
    width: 1171px;
    height: 402px;
    margin: 260px 0px 0px 80px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 123.51%;
}

.navigation {
    display: flex;
    margin: 130px 0px 0px 95px;
}

.navigation a {
    text-decoration: none;
}

.back,
.next {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 182px;
    height: 64px;
    margin: 0px 25px 0px 0px;
    transition: 0.2s;
    ;
    cursor: pointer;

    background: #4A81AC;
    border-radius: 30px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 101.01%;

    text-align: center;

    color: #FFFFFF;
}

.next {
    width: 382px;
}

.back:hover,
.next:hover {
    background: #F28300;
}

.back-text,
.next-text {
    align-self: center;
}

.title-block {
    align-self: flex-start;
    margin: 60px 0px 0px 105px;
}

.title-one {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 123.51%;

    color: #FFFFFF;
}

.title-two {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 123.51%;
    margin-top: 50px;

    color: #FFFFFF;
}

.title-three {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 123.51%;
    margin-top: 415px;

    color: #FFFFFF;
}

.title-three-2 {
    font-size: 30px;
}

/*==============================================================*/

.main-steps {
    display: none;
    opacity: 0;
}

.main-steps.vis {
    display: block;
    opacity: 1;
}

.container-steps {}

.title-steps {
    background: #4A81AC;
    border-radius: 0px;
    height: 8vw;
}

.title-one-steps,
.title-two-steps {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 123.51%;

    text-align: center;

    color: #FFFFFF;
}

.title-one-steps {
    padding-top: 1.4vw;
}

.title-two-steps {
    font-size: 2.2vw;
    margin-top: 0.3vw;
}

.section-description {
    width: 42vw;
}

.section-description-one,
.section-description-two {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 123.51%;

    color: #000000;
}

.section-description-two {
    margin-top: 1.3vw;
    font-size: 1.1vw;
    font-style: italic;
}

.section-one {
    display: flex;
    margin: 2.5vw 0px 0px 4vw;
}

.words-step-one,
.words-step-two,
.words-step-three,
.words-step-four {
    margin-left: 6.5vw;
    display: flex;
    align-items: flex-start;
    height: fit-content;
}

.words-step-one-container,
.words-step-two-container,
.words-step-three-container,
.words-step-four-container {
    flex-direction: column;
}

.word-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F4F4F4;
    border-radius: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 101.01%;
    /* or 20px */

    text-align: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
}

.div2 {
    grid-area: 1 / 5 / 2 / 7;
}

.div3 {
    grid-area: 1 / 7 / 2 / 9;
}

.div4 {
    grid-area: 1 / 9 / 2 / 11;
}

.div5 {
    grid-area: 2 / 7 / 3 / 11;
}

.div6 {
    grid-area: 2 / 3 / 3 / 7;
}

.div7 {
    grid-area: 2 / 1 / 3 / 3;
}

.div8 {
    grid-area: 3 / 1 / 4 / 5;
}

.div9 {
    grid-area: 3 / 5 / 4 / 9;
}

.div10 {
    grid-area: 3 / 9 / 4 / 11;
}

.word {}

.container-drop {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 180px;
    height: 400px;
}

.dropzone {
    margin-right: 80px;
    width: 335px;
    position: relative;
}

.dropzone img {
    position: absolute;
    width: 331px;
}




.navigation-workplace {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}


.back-workplace,
.next-workplace {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 182px;
    height: 64px;
    margin: 0px 25px 0px 0px;
    transition: 0.2s;
    cursor: pointer;

    background: #4A81AC;
    border-radius: 30px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 101.01%;

    text-align: center;

    color: #FFFFFF;
}

.back-workplace:hover,
.next-workplace:hover {
    background: #F28300;
}

.main-entrance.closed {
    display: none;
    opacity: 0;
}

.drop-section {
    width: 100%;
    height: 100%;
    padding-top: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.words-step-one-container,
.container-step-one,
.navigation-step-one,
.words-step-two-container,
.container-step-two,
.navigation-step-two,
.words-step-three-container,
.container-step-three,
.navigation-step-three,
.words-step-four-container,
.container-step-four,
.navigation-step-four {
    transition: 1s;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.words-step-one-container, .words-step-two-container, .words-step-three-container {
    width: 41%;
}

.words-step-one-container.vis,
.container-step-one.vis,
.navigation-step-one.vis,
.words-step-two-container.vis,
.container-step-two.vis,
.navigation-step-two.vis,
.words-step-three-container.vis,
.container-step-three.vis,
.navigation-step-three.vis,
.words-step-four-container.vis,
.container-step-four.vis,
.navigation-step-four.vis {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.main-final {
    display: flex;
    height: 970px;
    background: url('../img/labOne/background-final.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: 0.7%;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.main-final.vis {
    visibility: visible;
    display: flex;
    /*opacity: 1;*/
    animation: appear 1s ease;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.final-title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 123.51%;
    margin: 327px 0px 0px 108px;
}

.menu-button {
    margin: 430px 0 0 125px;
}

.left-side {}

.center {
    width: 840px;
    height: 840px;
    padding: 45px 60px 0 60px;
    margin-top: 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.right-side {
    display: flex;
    align-items: flex-end;
    margin: 0 0 53px 145px;
}

.print-icon {
    margin-left: 45px;
}

.header {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 123.51%;
    margin-bottom: 35px;
}

.header-one,
.header-two {
    display: flex;
    justify-content: space-between;
}

.report-header {
    display: flex;
    justify-content: space-around;
}

.report-header-right-answer,
.report-header-user-answer {
    background: #4A81AC;
    color: #FFFFFF;
    flex: 1;
    text-align: center;
    padding: 10px 0px;
}

.report-header-right-answer {
    margin-right: 4px;
}

.part-title {
    background: #F4F4F4;
    text-align: center;
    padding: 10px 0px;
    margin: 4px 0px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 123.51%;
}

.answers-container {
    display: flex;
    margin-bottom: 4px;
}

.report-right-answers, .report-user-answers {
    flex: 1;
    background: #F4F4F4;
    padding: 10px 16px 10px 16px;
}

.report-right-answers {
    margin-right: 4px;
}