.App {
  text-align: center;
}

div:has(#pdf) {
  z-index: -1;
}

#pdf #center {
  width: 700px;
  cursor: default;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-1-1,
.icon-1-2,
.icon-2-1,
.icon-2-2,
.icon-2-3,
.icon-3-1,
.icon-3-2,
.icon-4-1,
.icon-4-2,
.icon-4-3,
.icon-5-1,
.icon-5-2,
.icon-6-1,
.icon-6-2,
.icon-6-3,
.icon-7-1,
.icon-7-2,
.icon-7-3,
.icon-8-1,
.icon-8-2,
.icon-9-1,
.icon-9-2,
.icon-9-3,
.icon-10-1,
.icon-10-2,
.icon-10-3,
.icon-11-1,
.icon-11-2,
.icon-11-3,
.icon-12-1,
.icon-12-2,
.icon-13-1,
.icon-13-2,
.icon-13-3,
.icon-14-1,
.icon-14-2 {
  transition: 0.4s;
}

#icon-1-2,
#icon-2-2,
#icon-2-3,
#icon-3-2,
#icon-4-2,
#icon-4-3,
#icon-5-2,
#icon-6-2,
#icon-6-3,
#icon-7-2,
#icon-7-3,
#icon-8-2,
#icon-9-2,
#icon-9-3,
#icon-10-2,
#icon-10-3,
#icon-11-2,
#icon-11-3,
#icon-12-2,
#icon-12-3,
#icon-13-2,
#icon-13-3,
#icon-14-2 {
  opacity: 0;
}

#icon-6-3 {
  width: 5vw;
  position: absolute;
  left: 3.6vw;
  top: -2vw;
  animation: r 2s linear infinite;
} 

#icon-10-3 {
  width: 4.1vw;
  position: absolute;
  left: 12.2vw;
  top: 20.5vw;
  animation: r 2s linear infinite;
} 

@keyframes r {
  to {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

#icon-6-3-container {
  transform: rotateX(35deg) skew(334deg, 4deg);
}

#icon-10-3-container {
  transform: rotateX(65deg) skew(336deg, 20deg);
}

